/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat&display=swap');


/*Code based on Youtube tutorial 'Build a Quiz App with JavaScript'by WebDev Simplified - coded along, please see the link in Readme file */

/* Colour scheme modified by me to reflect my colour palette and match the hero image */

/* --------- Global style */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

:root {
    --hue-neutral: 212;
    --hue-wrong: 0;
    --hue-correct: 145;
}

/* ORIGIANALLY ELEMENT targeted was body, but modified by me */
.game-area {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 40vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

/* ORIGINAL CLASS TARGETED .body.correct {... but modified by me*/
.game-area.correct {
    --hue: var(--hue-correct);
}

/* ORIGINAL CLASS TARGETED .body.wrong {... but modified by me */
.game-area.wrong {
    --hue: var(--hue-wrong);
}

/* --------- Game area layout */

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

/* --------- Buttons */

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
    background-color: #EEC51D;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

/* Code taken and modified from CI Love Running Walkthrough project tutorial */

/* --------- Score area */

.score-area {
    margin: 5px auto;
    width: 50%;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
}

.scores {
    display: inline-flex;
    padding: 0 25px;
}

/* My own code based on my own knowledge from CI tutorials */

/* --------- Heading */

h1 {
    font-family: Black Ops One;
}

.logo {
    background-color: #91BB5F;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-ball {
    width: 30px;
    height: auto;
}

#hero {
    height: 50vh;
    background-image: url(../images/footiemania.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome {
    background-color: #91BB5F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.welcome p {
    font-family: Black Ops One;
    font-size: large;
    color: white;
}

/* Code taken and modified from CI Love Running and Love Maths Walkthrough project tutorial */

/* ---------- Media queries */

/* For larger to medium screen size from 1200px wide and smaller */
@media screen and (max-width: 1200px) {
    #changing-wallpaper {
        width: 100%;
        height: 50vh;
        margin: 0 auto;
    }

    #container {
        padding: 10px 10px;
    }

}

/* For medium screen sizes from 950px wide and smaller */
@media screen and (max-width: 950px) {
    #welcome {
        text-align: center;
        padding: 10px;
    }

    #hero {
        align-items: center;
    }

} 

/* For small screen sizes from 413px wide and smaller */
@media screen and (max-width: 413px) {
    #welcome {
        text-align: center;
        padding: 10px;
    }

    #hero {
        align-items: center;
    }

} 

/* For small screen sizes from 320px wide */
@media screen and (max-width: 320px) {
    #welcome {
        text-align: center;
        padding: 10px;
    }

    #hero {
        align-items: center;
    }

} 
